/* #ur-container {
  overflow: scroll;
  overflow-x: hidden;
} */
/* #ur-container::-webkit-scrollbar  {
  width: 0px;  
  background: transparent;  
} */
/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
  background: #FF0000;
} */

#ur-container {
   /* padding: 1.5rem; */
   text-align: left;
   /* text-justify: inter-word; */
}
#ur-container p {
  /* padding: 1.5rem; */
  text-align: left;
  /* text-justify: inter-word; */
}


#ur-container .ui-resizable-handle{
  background-color: gray;
}

